#mainWindow {
	background-color: #fafafa;
}

.blackbg {
	background: black;
} 


.greenbg {
	background: green;
}

.redbg {
	background: red;
}

#treeTG {
	background: green;
}

#textInfo {
	background: #DAFF7F
}

#button4000 {
	background: #F00000;
	font-weight: bold;
    font-size: 24px;
	color: #FFFFFF;
	text-shadow: none;
}

#buttonExit {
	background: #E00000;
	font-weight: bold;
    font-size: 20px;
	color: #FFFFFF;
}

#sliderVolume slider{
	min-width: 30px;                                                                               
	min-height: 30px;                                                                               
}

#treeLH {
	background: #7FC9FF;
	font-size:28px;
	color: black;
}

#labelInfo {
	background: #E2FFFF;
}

treeview.view header button {
	border: 1px solid #303030;
	background: #7FC9FF;
	font-size:30px;
	color: black;
}

#buttonPTT
{
	color: white;
	text-shadow: none;
	font-size:20px;
	font-weight: bold;
	background: green;
	border-radius: 80px;
}
#buttonPTT:checked {
	background: #802020;
}


